// 主页文章添加阴影效果
.post-block {
   padding: 25px;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
  }

  // 避免链接和代码过长，而导致样式问题
.post-block code {
  word-break: break-all;
}
.post-block a {
  word-break: break-all;
}

// 图片圆角
.post-body img {
  border-radius: 1em 
}

// 将链接文本设置为蓝色，鼠标划过时文字颜色加深，并显示下划线。
.post-body p a {
  color: #0593d3;
  border-bottom: none;
  &:hover {
    color: #0477ab;
    text-decoration: underline;
  }
}

// 适配暗黑模式下博客的 tag
.posts-expand .post-tags a {
  border-bottom: none;
  padding: 1px 5px;
  background: var(--content-bg-color);
}

// [Read More]按钮样式
.post-button .btn {
    color: #555 !important;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    font-size: 15px;
    box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.35);
    border: none !important;
    transition-property: unset;
    padding: 0px 15px;
}

.post-button .btn:hover {
    color: rgb(0, 0, 0) !important;
    border-radius: 3px;
    font-size: 15px;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
    opacity : 0.5
}
