// 页面宽度和圆角度数
$content-desktop              = 90%;
$content-desktop-large        = 72%;
$content-desktop-largest      = 55%;
$myradius                     = 8px;



// 图片路径
$images_path= hexo-config('images');
$site-brand-bg-url= $images_path + 'header-pink.webp';